<mat-expansion-panel [expanded]="showOptions">
  <mat-expansion-panel-header class="heading-dropdown-title">
    <mat-panel-title>
      Select Options
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput [(ngModel)]="searchString" (keyup)="applyFilter(searchString)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab *ngFor='let key of objectKeys(selectOptions)' [label]="key">
        <ul *ngIf="!searchString; else searchedResult">
          <li *ngFor="let name of selectOptions[key].data">
            <mat-checkbox class="example-margin want-icon" [(ngModel)]="name.want" (change)="selectWant($event, name, key)"></mat-checkbox>
            <mat-checkbox class="example-margin dont-want-icon" [(ngModel)]="name.doNot"
                          (change)="selectDoNot($event, name, key)"></mat-checkbox>
            {{ name.OptionName }}
          </li>
        </ul>
        <ng-template #searchedResult>
          <ul>
            <li *ngFor="let name of searchedData">
              <mat-checkbox class="example-margin want-icon" [(ngModel)]="name.want"></mat-checkbox>
              <mat-checkbox class="example-margin dont-want-icon" [(ngModel)]="name.doNot"></mat-checkbox>
              {{ name.OptionName }}
            </li>
          </ul>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="select-want-btn">
    <div class="cu-btn">
        <mat-action-row>
          <div class="want-dont-btn">
            <button mat-icon-button>
              <mat-icon aria-label="Add" style="color: green">done</mat-icon>
              Want
            </button>
            <button mat-icon-button>
              <mat-icon aria-label="Add" style="color: red">close</mat-icon>
              don't Want
            </button>
          </div>

          <div class="primary-btn">
            <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="!(totalWant || totalDoNot)">Summary</button>
          </div>
        </mat-action-row>
    </div>
  </div>

</mat-expansion-panel>
