@import "../../assets/styles/scss/index";
.vin-specifications {
  width: 64%;
  float: left;
  margin-right: 2%;
  .vin-vehicle-options {
    width: 100%;
    float: left;
    margin-top: 20px;
  }
  .vin-incomplete {
    @extend .vin-vehicle-options;

  }
  .vin-display-footer {
    @extend .vin-vehicle-options;
    .vin-display-info {
      .cu-btn {
        text-align: right;
        button {
          margin: 0 5px;
        }
      }
    }
    .vin-disclaimer-wrp {
      span {
        font-size: 16px;
        color: $darkblue;
        font-family: $font-roboto-regular;
      }
      .vin-disclaimer-text {
        padding: 10px;
        background: $dodgerblue;
        p {
          color: $white;
          font-size: $font-sm;
          font-family: $font-roboto-regular;
          margin: 0 auto;
        }
      }
    }
  }
}

.quick-links-block {
  width: 34%;
  .standard-payment {
    margin-top: 20px;
  }
}
