<div>
  <mat-expansion-panel [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header class="heading-dropdown-title">
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <video class="help-video" controls>
      <source src="" type="video/mp4">
      <source src="" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </mat-expansion-panel>
</div>
