
.payment-estimator {
  form {
    margin-top: 10px;
    .mat-form-field {
      width: 100%;
    }
    .sub-title-text {
      margin-bottom: 10px;
    }
    .cu-btn {
      text-align: right;
    }
  }

}
