<div class="payment-estimator">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="heading-dropdown-title">
      <mat-panel-title>
        Standard Payment Estimator
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form #paymentForm="ngForm" [formGroup]="form" (ngSubmit)="calculatePayment(paymentForm)">
      <div>
        <mat-form-field>
          <span matPrefix>$ &nbsp;</span>
          <input matInput placeholder="Final Price" formControlName="finalPrice">
          <mat-error *ngIf="form.controls['finalPrice'].invalid">{{ getFinalPriceError() }}</mat-error>
          <!--<mat-error *ngIf="form.controls['finalPrice'].hasError('required')">Final Price is required</mat-error>-->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Term" formControlName="term">
          <span matSuffix>months</span>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="APR">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <span matPrefix>$ &nbsp;</span>
          <input matInput placeholder="Cash Down">
        </mat-form-field>
      </div>
      <div>
        <p class="sub-title-text">Payment</p>
      </div>
      <div class="cu-btn">
        <div class="primary-btn">
          <button mat-raised-button color="primary" type="submit">Calculate</button>
        </div>
      </div>

    </form>
    <div>
      <p class="text-info-gray">Disclaimer Payments and other terms are estimates and are for example purposes only. Tax, title, license, dealer fees and optional equipment may not be included.</p>
    </div>
  </mat-expansion-panel>
</div>
