<div>
  Exclude BAC and {{ data.field }} cannot be used together.
</div>
<div class="cu-btn">
  <div class="primary-btn">
    <button mat-raised-button color="primary" (click)="clodeDialog()">
      Close
    </button>
  </div>
</div>
