<div>
  <!--<div class="main-top-bar">
    <div class="container">
      <div class="mat-row">
        <span>
        </span>
      </div>
    </div>
  </div>-->

  <div class="main-header">
    <div class="full-container">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="container">
          <span>Vehicle Locator</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>

  <div class="main-tab-menu">
    <div class="container">
      <div class="cu-btn">
        <div class="secondary-btn" *ngIf="showRoutes">
          <button mat-raised-button routerLink="{{environment.locateVehicle}}" routerLinkActive="active">Locate Vehicle</button>
        </div>
        <div class="secondary-btn" *ngIf="showRoutes">
          <button mat-raised-button routerLink="{{environment.locateDealer}}" routerLinkActive="active">Locate Dealer</button>
        </div>
      </div>
      <!--<a routerLink="/" routerLinkActive="active">Locate Vehicle</a>
          <a routerLink="/locate-dealer" routerLinkActive="active">Locate Dealer</a>-->
    </div>
  </div>
<!--
  <div class="main-header" *ngIf="showHelp">
    <div class="full-container">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="container">
          <button mat-button (click)="openHelpfulLinks()">
            <mat-icon>live_help</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>-->

</div>
