<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header class="heading-dropdown-title">
    <mat-panel-title>
      Vehicle Options
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-tab-group>
    <mat-tab label="All Options">
      <div class="vehicle-chargeable">
        <p>Chargeable Options</p>
        <div *ngIf="data['Chargable Options'] then chargeable">
        </div>
      </div>
      <div class="vehicle-chargeable">
        <p>No Cost Option</p>
        <div *ngIf="data['No Costed Options'] then noCost">
        </div>
      </div>
      <div class="vehicle-chargeable">
        <p>Other Option</p>
        <div *ngIf="data['Other Options'] then other">
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Chargeable Options" [disabled]="!data['Chargable Options']">
      <div *ngIf="data['Chargable Options'] then chargeable">
      </div>
    </mat-tab>
    <mat-tab label="No Cost Options" [disabled]="!data['No Costed Options']">
      <div *ngIf="data['No Costed Options'] then noCost">
      </div>
    </mat-tab>
    <mat-tab label="Other Options" [disabled]="!data['Other Options']">
      <div *ngIf="data['Other Options'] then other">
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-expansion-panel>

<ng-template #chargeable>
  <div class="vehicle-chargeable">
    <table>
      <tr>
        <td>
        </td>
        <td>
          MSRP
        </td>
        <td>
          Invoice
        </td>
      </tr>
      <tr *ngFor="let option of data['Chargable Options']">
        <td>
          {{ option.OptionCode }}: {{ option.OptionDescription }}
        </td>
        <td>
          {{option.MSRP.Value}}
        </td>
        <td>
          {{option.invoice.Value}}
        </td>
      </tr>
    </table>
  </div>

</ng-template>

<ng-template #noCost>
  <div class="vehicle-chargeable">
    <ul>
      <li *ngFor="let option of data['No Costed Options']">
        {{ option.OptionCode }}: {{ option.OptionDescription }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #other>
  <div class="vehicle-chargeable">
    <ul>
      <li *ngFor="let option of data['Other Options']">
        {{ option.OptionCode }}: {{ option.OptionDescription }}
      </li>
    </ul>
  </div>

</ng-template>
