<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header class="heading-dropdown-title">
    <mat-panel-title>
      VIN Specifications
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table>
    <tbody>
    <tr>
      <td valign="top" width="335">
        <table>
          <tbody>
          <tr>
            <td class="specslabelStyle" width="120"> <strong>VIN:</strong></td>
            <td class="specsvalueStyle" width="200">{{ data.VinNumber }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Model Year:</strong></td>
            <td class="specsvalueStyle">{{ data.Year }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Make:</strong></td>
            <td class="specsvalueStyle">{{ data.MakeString }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Model:</strong></td>
            <td class="specsvalueStyle">{{ data.ModelDescription }} {{ data.BodyStyle }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>PEG:</strong></td>
            <td class="specsvalueStyle">{{ PEG.OptionCode }} - {{ PEG.OptionDescription }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Primary Color:</strong></td>
            <td class="specsvalueStyle">{{ primaryColor.OptionCode }} - {{ primaryColor.OptionDescription }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Trim:</strong></td>
            <td class="specsvalueStyle">{{ trim.OptionCode }} - {{ trim.OptionDescription }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Engine:</strong></td>
            <td class="specsvalueStyle">{{ engine.OptionCode }} - {{ engine.OptionDescription }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle"> <strong>Transmission:</strong></td>
            <td class="specsvalueStyle">{{ transmission.OptionCode }} - {{ transmission.OptionDescription }}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="20px"></td>
      <td valign="top" width="335">
        <table>
          <tbody>
          <tr>
            <td class="specslabelStyle" width="140"></td>
            <td class="specsvalueStyle" width="200"></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Event Code:</strong> <br></td>
            <td class="specsvalueStyle">{{ data.Event[0].Id }} - {{ data.Event[0].Description }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Order #:</strong></td>
            <td class="specsvalueStyle">{{ data.OrderNumber }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>MSRP:</strong></td>
            <td class="specsvalueStyle">{{ MSRP?.Value | currency }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Order Type:</strong></td>
            <td class="specsvalueStyle">{{ data.OrderType }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Age Of Inventory:</strong></td>
            <td class="specsvalueStyle">{{ data.Age }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Stock #:</strong></td>
            <td class="specsvalueStyle">{{ data.StockNumber }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Inventory Status:</strong></td>
            <td class="specsvalueStyle">{{ data.InventoryStatus }}</td>
          </tr>
          <tr *ngIf="view === 'dealer'">
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>DIP:</strong></td>
            <td class="specsvalueStyle">{{ invoice310?.Value | currency }}</td>
          </tr>
          <tr *ngIf="view === 'dealer'">
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Employee Price:</strong></td>
            <td class="specsvalueStyle">{{ employeePrice?.Value | currency }}</td>
          </tr>
          <tr *ngIf="view === 'dealer'">
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Supplier Price:</strong></td>
            <td class="specsvalueStyle">{{ supplierPrice?.Value | currency }}</td>
          </tr>
          <tr>
            <td class="specslabelStyle" style="padding-left: 20px;"> <strong>Total Cash Allowance:*</strong></td>
            <td class="specsvalueStyle">{{ data.TotalCashAllowance | currency }}
              <span *ngIf="data.TCAExpiration">
          (Expires on {{ data.TCAExpiration }})
        </span></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <!--  <mat-list role="list">
      <mat-list-item role="listitem"><strong>Vin :</strong> <span>{{ data.VinNumber }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Model Year:</strong> <span>{{ data.Year }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Make:</strong> <span>{{ data.MakeString }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Model:</strong> <span>{{ data.ModelDescription }} {{ data.BodyStyle }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>PEG:</strong> <span>{{ PEG.OptionCode }} - {{ PEG.OptionDescription }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Primary Color:</strong> <span>{{ primaryColor.OptionCode }} - {{ primaryColor.OptionDescription }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Trim:</strong>
        <span>{{ trim.OptionCode }} - {{ trim.OptionDescription }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Engine:</strong> <span>{{ engine.OptionCode }} - {{ engine.OptionDescription }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Transmission: </strong> <span>{{ transmission.OptionCode }} - {{ transmission.OptionDescription }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Event Code:</strong> <span>{{ data.Event[0].Id }} - {{ data.Event[0].Description }}</span>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem" class="sub-title" *ngIf="view === 'dealer'">Event History</mat-list-item>
      <mat-list-item role="listitem"><strong>Order #:</strong> <span>{{ data.OrderNumber }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>MSRP:</strong> <span>${{ MSRP }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Order Type:</strong> <span>{{ data.OrderType }}</span></mat-list-item>
      <mat-list-item role="listitem" *ngIf="view === 'dealer'"><strong>Age of Inventory:</strong>
        <span>{{ data.Age }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Stock #:</strong> <span>{{ data.StockNumber }}</span></mat-list-item>
      <mat-list-item role="listitem"><strong>Inventory Status:</strong> <span>{{ data.InventoryStatus }}</span>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="view === 'dealer'"><strong>DIP:</strong> <span>$28,084.62</span>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="view === 'dealer'"><strong>Employee Price:</strong>
        <span>${{ employeePrice }}</span>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="view === 'dealer'"><strong>Supplier Price:</strong>
        <span>${{ supplierPrice }}</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Total Cash Allowance:*</strong> <span> {{ data.TotalCashAllowance }}
          <span *ngIf="data.TCAExpiration">
            (Expires on {{ data.TCAExpiration }})
          </span>
        </span>
      </mat-list-item>
    </mat-list>-->
</mat-expansion-panel>
