<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header class="heading-dropdown-title">
    <mat-panel-title>
      Dealer Detail
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="dealer-own-detail">
    <div>
      BAC: {{ bac }}
      {{dealer.Name}}
      2540 PRAIRIE CROSSING DR
      SPRINGFIELD, IL 62711
    </div>
    <div>
      CHEVROLET : 47291
    </div>
  </div>
  <hr>
  <div>
    Division: CHEVROLET
    Dealer Code: 47291
  </div>
  <general-motor-owning-dealer [data]="data"></general-motor-owning-dealer>
  <div class="cu-btn">
    <mat-action-row class="primary-btn">
      <button mat-raised-button>Add to My Treading Partner</button>
    </mat-action-row>
  </div>

</mat-expansion-panel>
