@import '../../../assets/styles/scss/index';

.dealer-owning-table {
  margin-top: 10px;
  table {
    width: 100%;
    border-spacing: 0;
    thead {
      th {
        background: $dodgerblue;
        color: $white;
        font-size: 16px;
        font-family: $font-roboto-regular;
        font-weight: normal;
        padding: 8px;
        border-left: 1px solid #7c8aab;
        border-bottom: 1px solid #7c8aab;
        &:last-child {
          border-right: 1px solid #7c8aab;
        }
      }
    }
    tbody {
      td {
        color: $dimgray;
        font-size: $font-sm;
        font-family: $font-roboto-regular;
        font-weight: normal;
        padding: 8px;
        border-left: 1px solid #7c8aab;
        border-bottom: 1px solid #7c8aab;
        &:last-child {
          border-right: 1px solid #7c8aab;
        }
      }
    }
  }
}
