<div class="search-location-criteria">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="heading-dropdown-title">
      <mat-panel-title>
        Search by Location
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sub-title">
      Search Criteria
    </div>
    <div class="search-criteria" *ngIf="searchCriteriaName === 'dealer';else vehicleCriteria">
      <div class="search-criteria-name">
        <span>Search By {{ selectedSearch }}:</span>
        <div *ngIf="searchCriteria.name">
          {{ sea0rchCriteria.name }}
        </div>
        <div *ngIf="searchCriteria.city">
          {{ searchCriteria.city }}
        </div>
        <div *ngIf="searchCriteria.code">
          {{ searchCriteria.code }}
        </div>
      </div>
      <div class="search-criteria-name">
        <div *ngIf="searchCriteria.state">
          <span>State:</span> {{ searchCriteria.state.abbr }}
        </div>
        <div *ngIf="searchCriteria.radius">
          {{ searchCriteria.radius }} Miles
        </div>
        <div *ngIf="searchCriteria.number">
          {{ searchCriteria.number }}
        </div>
      </div>
      <div class="search-criteria-name">
        <span>Division:</span> {{ division }}
      </div>
    </div>
    <ng-template #vehicleCriteria>
      <div class="vehicle-criteria">
        <div class="search-criteria-model">
          <div class="criterial-list">
            <span class="title">Year:</span> {{ searchCriteria.year }}
          </div>
          <div class="criterial-list">
            <span class="title">Make:</span> {{ searchCriteria.make.Description }}
          </div>
          <div class="criterial-list">
            <span class="title">Model:</span> {{ searchCriteria.model.name }}
          </div>
        </div>

        <div class="criterial-body">
          <span class="title">Body Style:</span>
          <ul>
            <li *ngFor="let style of searchCriteria.bodyStyle">{{ style.style }}</li>
          </ul>
        </div>
        <div class="criterial-body">
          <span class="title">Location Criteria:</span>
          <ul>
            <li *ngFor="let criteria of searchCriteria.searchedCriteria">{{ criteria.value }}</li>
          </ul>
        </div>
        <div>
          <span class="title">Earliest Event Code:</span> {{ searchCriteria.earliestEventCode.code }} -
          {{ searchCriteria.earliestEventCode.value }}
        </div>
        <div>
          <span class="title">Max MSRP:</span> {{ searchCriteria.maxMSRP }}
        </div>
      </div>
    </ng-template>

  </mat-expansion-panel>
</div>
<div class="cu-btn">
  <div class="primary-btn">
    <button mat-button color="basic" (click)="editSearch()">Edit Search Criteria</button>
  </div>
</div>
