@import "../../assets/styles/scss/index";

.search-location-criteria {
  margin-bottom: 10px;
  .search-criteria {
    padding: 0 10px;
    .search-criteria-name {
      color: $dodgerblue;
      padding: 5px 0;
      span {
        font-size: $font-sm;
        color: $dimgray;
        font-family: $font-roboto-regular;
      }
    }
  }
  .vehicle-criteria {
    span.title {
      font-size: $font-sm;
      color: $darkblue;
      font-family: $font-roboto-regular;
    }
    .search-criteria-model {
      display: table;
      width: 100%;
      .criterial-list {
        display: table-cell;
        font-size: $font-sm;
        color: $dimgray;
        font-family: $font-roboto-regular;
      }
    }
    .criterial-body {
      margin: 10px 0;
      ul {
        display: inline-block;
        vertical-align: top;
        li {
          font-size: $font-sm;
          color: $dimgray;
          font-family: $font-roboto-regular;
        }
      }
    }
  }
}

.cu-btn {
  text-align: right
}
