@import "../../assets/styles/scss/index";

.compare-select {
  text-align: right;
}

.side-comparision {
  .side-comparision-table {
    table {
      width: 100%;
      border-spacing: 0;
      thead {
        background: $dodgerblue;
        th {
          color: $white;
          font-family: $font-roboto-regular;
          font-size: $font-sm;
          font-weight: normal;
          padding: 10px;
          border-left: 1px solid #8992a7;
          border-bottom: 1px solid #8992a7;
          width: 33.33%;
          &:last-child {
            border-right: 1px solid #8992a7;
          }
        }
      }
      tbody {
        /*tr {
          &:first-child {
            td {
              background: $dodgerblue;
              color: $white;
              font-family: $font-roboto-regular;
              font-size: $font-sm;
              font-weight: normal;
              padding: 10px;
              border-left: 1px solid #8992a7;
              border-bottom: 1px solid #8992a7;
            }
          }
        }*/
        td {
          color: $dimgray;
          font-family: $font-roboto-regular;
          font-size: $font-sm;
          font-weight: normal;
          padding: 10px;
          border-left: 1px solid #8992a7;
          border-bottom: 1px solid #8992a7;
          &:last-child {
            border-right: 1px solid #8992a7;
          }
          span {
            color: $darkblue;
            font-family: $font-roboto-medium;
            padding: 7px 0;
          }
          a {
            color: $darkblue;
          }
        }
      }
    }
  }
  .side-comparision-options {
    margin: 10px 0;
    table {
      width: 100%;
      border-spacing: 0;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: #8992a7;
      tr {
        &:hover {
          background: $lightsteelblue;
        }
        td {
          width: 33.33%;
          color: $dimgray;
          font-family: $font-roboto-regular;
          font-size: $font-sm;
          font-weight: normal;
          padding: 10px;
          border-bottom: 1px solid #8992a7;
          i {
            margin: 0 auto;
            display: block;
            text-align: center;
            &.close-icon-check {
              color: #60b524;
            }
          }
        }
      }
    }
  }

  .btn {
    float: left;
    margin-right: 10px;
  }
}
