<general-motor-info-navbar (printClicked)="printDoc($event)"></general-motor-info-navbar>
<div class="compare-select">
  <mat-form-field>
    <mat-select placeholder="Report For" [(ngModel)]="selectedView">
      <mat-option value="Customer"> Customer</mat-option>
      <mat-option value="Dealer"> Dealer</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="printArea">
  <div class="side-comparision">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="heading-dropdown-title">
        <mat-panel-title>
          Side by side comparision
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--<div class="side-comparision-table">
        <table>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.vehicleModelInfo }} <br/>
              {{ vehicle.vin }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.msrp }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.peg }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.primaryColor }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.trim }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.transmission }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.printInvoice }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let vehicle of vehicles">
              {{ vehicle.lookupIncentivesLabel }}
            </td>
          </tr>
        </table>
      </div>
      <div class="side-comparision-options">
        <button mat-button color="basic"
                (click)="showDifferentOptions()"
                *ngIf="comparisionOptions['true'].length>0">
          <mat-icon *ngIf="!differentOptions">add_box</mat-icon>
          <mat-icon *ngIf="differentOptions">indeterminate_check_box</mat-icon>
        </button>
        Different Options
        <table [hidden]="!differentOptions" class=side-comparision-options>
          <tr *ngFor="let options of comparisionOptions['true']">
            <td>{{ options.option }}</td>
            <td *ngIf="options.vehicle1 === 'Y' || options.vehicle1 === 'N'">
              <mat-icon *ngIf="options.vehicle1==='Y'">done</mat-icon>
            </td>
            <td *ngIf="options.vehicle2 === 'Y' || options.vehicle2 === 'N'">
              <mat-icon *ngIf="options.vehicle2==='Y'">done</mat-icon>
            </td>
            <td *ngIf="options.vehicle3 === 'Y' || options.vehicle3 === 'N'">
              <mat-icon *ngIf="options.vehicle3==='Y'">done</mat-icon>
            </td>
            <td *ngIf="options.vehicle4 === 'Y' || options.vehicle4 === 'N'">
              <mat-icon *ngIf="options.vehicle4==='Y'">done</mat-icon>
            </td>
          </tr>
        </table>
      </div>
      <div class="side-comparision-options">
        <button mat-button color="basic"
                (click)="showSimilarOptions()"
                *ngIf="comparisionOptions['false'].length>0">
          <mat-icon *ngIf="!similarOptions">add_box</mat-icon>
          <mat-icon *ngIf="similarOptions">indeterminate_check_box</mat-icon>
        </button>
        Similar Options
        <table [hidden]="!similarOptions">
          <tr *ngFor="let options of comparisionOptions['false']">
            <td> {{ options.option }}</td>
            <td *ngIf="options.vehicle1 === 'Y' || options.vehicle1 === 'N'">
              <mat-icon *ngIf="options.vehicle1==='Y'">done</mat-icon>
              <mat-icon *ngIf="options.vehicle1==='N'">cancel</mat-icon>
            </td>
            <td *ngIf="options.vehicle2 === 'Y' || options.vehicle2 === 'N'">
              <mat-icon *ngIf="options.vehicle2==='Y'">done</mat-icon>
              <mat-icon *ngIf="options.vehicle2==='N'">cancel</mat-icon>
            </td>
            <td *ngIf="options.vehicle3 === 'Y' || options.vehicle3 === 'N'">
              <mat-icon *ngIf="options.vehicle3==='Y'">done</mat-icon>
              <mat-icon *ngIf="options.vehicle3==='N'">cancel</mat-icon>
            </td>
            <td *ngIf="options.vehicle4 === 'Y' || options.vehicle4 === 'N'">
              <mat-icon *ngIf="options.vehicle4==='Y'">done</mat-icon>
              <mat-icon *ngIf="options.vehicle4==='N'">cancel</mat-icon>
            </td>
          </tr>
        </table>
      </div>-->
      <div class="side-comparision-table">
        <table>
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let data of header">{{ data.headerTitle }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let key of objectKeys(vehicleComairArr[0])">
            <td><span>{{ key }}</span></td>
            <td *ngFor="let vehicle of vehicleComairArr"> {{ vehicle[key] }}</td>
          </tr>
          <tr *ngIf="selectedView === 'Dealer'" class="no-print">
            <td>
              <span class="btn">Print Invoice</span>
              <div class="cu-btn">
                <div class="primary-btn">
                  <button mat-raised-button color="primary" (click)="printAllInvoice()">
                    Print All
                  </button>
                </div>
              </div>

            </td>
            <td *ngFor="let vehicle of vehicleComairArr"><a (click)="printInvoice()">Print Invoice</a></td>
          </tr>
          <tr class="no-print">
            <td><span>Look up Incentives by VIN</span></td>
            <td *ngFor="let vehicle of vehicleComairArr"><a href="#">Look up Incentives by VIN</a></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="side-comparision-options">
        Different Options
        <table>
          <tr>
            <td>VAL-LPO-Floor Maths, all weather</td>
            <td><i class="material-icons close-icon-check">done</i></td>
          </tr>
        </table>
      </div>
      <div class="side-comparision-options">
        Similar Options
        <table>
          <tr>
            <td>test</td>
            <td><i class="material-icons close-icon-check">done</i></td>
            <td><i class="material-icons close-icon-check">done</i></td>
          </tr>
        </table>
      </div>

    </mat-expansion-panel>
  </div>
</div>
<div id="printInvoice">
  <pre id="inputInvoice">

  </pre>
</div>
