<general-motor-navbar user="Rinki Singh" *ngIf="showHeader" [showRoutes]="showRoute"></general-motor-navbar>
<div class="site-contact">
  <div class="container">
    <general-motor-info-navbar [showHelp]="showHelp" *ngIf="showHelp"></general-motor-info-navbar>
  </div>
</div>
<div class="site-contact">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div class="container">
    <general-motor-footer></general-motor-footer>
  </div>
</div>
