@import "../../../assets/styles/scss/index";
.locate-vehicle {
  .locate-vehicle-form {
    width: 50%;
    float: left;
    margin-right: 2%;
    @include tablet {
      width: 64%;
    }
    @include mobile {
      width: 100%;
    }
    .vehicle-year-model {
      margin: 10px 0;
      display: table;
      width: 100%;
      .mat-input-container {
        width: 33.33%;
        display: table-cell;
        padding: 0 10px;
      }
    }
    .vehicle-body-style {
      display: table;
      width: 100%;
      .vehicle-style-card {
        width: 50%;
        display: inline-block;
        vertical-align: bottom;
        max-width:48%;
        p {
          margin-top: 0;
          color: $footerbg;
          font-size: 16px;
        }
      }
       .vehicle-style-selected {
        @extend .vehicle-style-card;
        padding-left: 10px;
      }

      .example-card {
        padding: 0;
        .mat-card-header {
          color: $white;
          background: $dodgerblue;
          height: 44px;
          line-height: 44px;
          .mat-checkbox-label {
            color: $white;
          }
          .mat-checkbox-disabled {
            .mat-checkbox-layout {
              .mat-checkbox-frame {
                border-color: $white;
              }
            }
          }
        }
        .mat-card-content {
          padding-top: 10px;
          height: 200px;
          overflow-x: auto;
          .mat-checkbox {
            display: block;
            padding: 5px 16px;

          }
          li {
            @extend .mat-checkbox;
          }
        }
      }
    }
    .vehicle-msrp {
      display: table;
      width: 100%;
      margin: 30px 0 20px;
      .vehicle-records {
        display: table-cell;
        width: 33.33%;
        mat-form-field {
          width: 100%;
        }
        mat-slider {
          @extend mat-form-field;

        }
      }
    }
    .vehicle-define-types {
      .vehicle-define-detail {
        p {
          color: $footerbg;
          font-size: 16px;
        }
        .mat-selection-list {
          .mat-list-text {
            font-size: $font-sm;
            color: $dimgray;
          }
        }
        ul {
          li {
            padding: 10px;
            &:hover {
              background: rgba(0,0,0,.04);
            }
          }
        }
      }
    }
  }
  @include tablet {
    .quick-locate {
      width: 34%;
      margin-right: 0;
      margin-bottom: 2%;
    }
    .quick-links-block {
      width: 34%;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  @include mobile {
    .quick-locate {
      width: 49%;
      margin-top: 2%;
    }
    .quick-links-block {
      width: 49%;
    }
  }

}
.additional-locations {
  margin-top: 10px;
  .exclude-form {
    mat-form-field {
      margin: 0 5px;
    }
    mat-checkbox {
      .mat-checkbox-label {
        color: $dodgerblue;
      }
    }
    .mat-icon-button {
      .mat-icon {
        color: $darkblue;
      }
    }
  }
}

.cu-btn {
  .primary-btn {
    button {
      margin: 0 5px;
    }
    .mat-action-row {
      padding:16px 0;
    }
  }
}
.ui-picklist-buttons{
  .ui-picklist-buttons-cell{
    button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only{
      display: none;
    }
  }
}
