<div *ngFor='let key of objectKeys(data.selectOptions)' class="selet-summy-popup">
  <div class="summy-left" *ngIf="data.selectOptions[key].totalWant || data.selectOptions[key].totalDoNot">
    {{ key }}
  </div>
  <div class="summy-midal">
    <ul>
      <li *ngFor="let name of data.selectOptions[key].data">
        <span *ngIf="name.want">
          <mat-icon aria-label="Add" style="color: green">done</mat-icon>
          {{ name.OptionName }}
        </span>
      </li>
    </ul>
  </div>
  <div class="summy-right">
    <ul>
      <li *ngFor="let name of data.selectOptions[key].data">
        <span *ngIf="name.doNot">
          <mat-icon aria-label="Add" style="color: red">close</mat-icon>
          {{ name.OptionName }}
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="cu-btn">
  <div class="primary-btn">
    <button mat-raised-button color="basic" (click)="closeModal()">
      Close
    </button>
  </div>
</div>

