@import "../../../assets/styles/scss/index";
.selet-summy-popup {
  .summy-left {
    float: left;
    width: 96%;
    text-transform: capitalize;
    padding: 2%;
    background: $dodgerblue;
    color:$white;
    margin-bottom: 10px;
    font-family: $font-roboto-regular;
  }
  .summy-midal {
    float: left;
    width: 49%;
    span {
      color: $dimgray;
      font-size:$font-sm;
      padding:5px 0;
      display: block;
      font-family: $font-roboto-regular;
      mat-icon {
        vertical-align: middle;
      }
    }
  }
  .summy-right {
    float: right;
    width: 49%;
    span {
      color: $dimgray;
      font-size:$font-sm;
      padding:5px 0;
      display: block;
      font-family: $font-roboto-regular;
      mat-icon {
        vertical-align: middle;
      }
    }
  }
}

.cu-btn {
  float: left;
  width: 100%;
  text-align: right;
}
