@import "../../../assets/styles/scss/index";

.criteria {
  float: left;
  width: 100%;
  .search-location-block {
    width: 73%;
    float: left;
    margin-right: 2%;
    @include mobile {
      width: 100%;
    }
  }
  .quick-links-block {
    mat-form-field {
      width: 100%;
    }
  }

}
.inventory-bac {
  float: left;
  width: 100%;
  .search-location-results {
    .sub-title {
      margin-bottom: 0;
    }
    .mat-table {
      min-width: 1800px;
      max-height: 400px;
      .mat-header-row {
        background: $lightsteelblue;
        .mat-header-cell {
          color: $darkblue;
          font-size: 16px;
          font-family: $font-roboto-light;
          overflow: visible;
          &:first-child {
            width: 60px;
          }

        }
      }
      .mat-row {
        .mat-cell {
          overflow: visible;
          &:first-child {
            width: 60px;
          }
        }
        .other-infor-icon {
          display: table;
          button {
            display: table-cell;
            color: $dodgerblue;
          }
        }
      }
    }
  }
  .cu-btn {
    margin-top: 10px;
    text-align: right;
  }
}

