<div class="close_btn">
  <button mat-icon-button (click)="closeModal()" type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>


<general-motor-search-by-location [modal]="true"></general-motor-search-by-location>
