@font-face {
  font-family: 'RobotoRegular';
  src: url("/assets/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("/assets/fonts/RobotoRegular/RobotoRegular.eot") format("embedded-opentype"), url("/assets/fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("/assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("/assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("/assets/fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/assets/fonts/RobotoLight/RobotoLight.eot");
  src: url("/assets/fonts/RobotoLight/RobotoLight.eot") format("embedded-opentype"), url("/assets/fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("/assets/fonts/RobotoLight/RobotoLight.woff") format("woff"), url("/assets/fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("/assets/fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg");
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/assets/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("/assets/fonts/RobotoMedium/RobotoMedium.eot") format("embedded-opentype"), url("/assets/fonts/RobotoMedium/RobotoMedium.woff2") format("woff2"), url("/assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("/assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("/assets/fonts/RobotoMedium/RobotoMedium.svg#RobotoMedium") format("svg");
}
/* Background color */
body {
  -webkit-print-color-adjust: exact;
  margin: 0;
  padding: 0;
  background: #e5eaf7;
  /* Button css */
  /* Heading Title */
  /* Warning */
  /* Tooltip */
  /* Radio Button */
  /* checkbox */
  /* Checkbox Disabled */
  /* Input Field */
  /* Select drop-down */
  /* Quick Links */
  /* Quick Locate */
  /* slider */
  /**/
  /**/
  /* select option tab */
  /* Additional Criteria */
  /* State List Max */
  /* Popup */
  /* Table Scrolling  */
  /* Search Location Results */
  /* VIN Detail Payment */
  /* VIN Display Footer */
  /**/
}
body ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
body .full-container {
  width: 100%;
  margin: 0 auto;
}
body .container {
  width: 980px;
  margin: 0 auto;
}
@media (min-width: 980px) and (max-width: 1023px) {
  body .container {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body .container {
    width: 740px;
  }
}
@media (max-width: 767px) {
  body .container {
    width: 96%;
    float: left;
    padding: 0 2%;
  }
}
body .pl-2 {
  padding-left: 20px;
}
body .pr-2 {
  padding-right: 20px;
}
body .cu-btn .secondary-btn button {
  background: #9ea8c1;
  color: #ffffff;
  font-weight: 600;
  font-family: RobotoLight;
  letter-spacing: 0.5px;
}
body .cu-btn .secondary-btn button.active {
  background: #134373;
}
body .cu-btn .primary-btn button {
  background: #134373;
  color: #ffffff;
  font-weight: 600;
  font-family: RobotoLight;
  letter-spacing: 0.5px;
}
body .cu-sub-btn {
  display: inline-block;
}
body .cu-sub-btn .primary-btn button {
  background: #134373;
  color: #ffffff;
  font-weight: 600;
  font-family: RobotoLight;
  letter-spacing: 0.5px;
}
body .heading-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #9ea8c1;
  font-size: 20px;
  color: #134373 !important;
  font-family: RobotoRegular;
}
body .heading-dropdown-title {
  margin: 0 24px;
  padding: 0;
  max-height: 48px !important;
}
body .heading-dropdown-title mat-panel-title {
  font-size: 20px;
  color: #134373 !important;
  font-family: RobotoMedium;
  margin-top: 20px;
}
body .heading-dropdown-title.mat-expanded {
  height: 48px !important;
  display: block;
}
body .sub-title {
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  background: #9ea8c1;
  margin: 10px 0;
  font-family: RobotoRegular;
}
body .sub-title-text {
  margin: 0;
  color: #1a6699;
  font-size: 16px;
}
body .sub-title-border {
  font-size: 18px;
  color: #134373;
  padding: 10px 0;
  border-bottom: 1px solid #134373;
  margin: 10px 0;
  font-family: RobotoRegular;
}
body .text-info-gray {
  color: #9ea8c1;
}
body .mat-error-span {
  position: absolute;
  width: 100%;
  overflow: hidden;
  color: #f44336;
  top: calc(100% - -0.33333em);
  font-size: 75%;
}
body .mat-error-red {
  color: #f44336;
  font-size: 12px;
  margin-top: 10px;
}
body .break-tooltip {
  white-space: pre-line;
}
body .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: #134373;
}
body .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(19, 67, 115, 0.2);
}
body .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #134373;
}
body .mat-radio-button.mat-accent .mat-radio-label-content {
  color: #333333;
}
body .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #134373;
}
body .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(19, 67, 115, 0.2);
}
body .mat-pseudo-checkbox-checked {
  background-color: #134373;
}
body .vehicle-style-card .mat-checkbox-disabled .mat-checkbox-layout .mat-checkbox-frame {
  border-color: #626b82;
}
body .vehicle-style-card .mat-checkbox-disabled .mat-checkbox-layout .mat-checkbox-label, body .vehicle-style-card .mat-checkbox-disabled .mat-checkbox-layout .additional-criteria mat-radio-button .mat-radio-label-content, body .additional-criteria mat-radio-button .vehicle-style-card .mat-checkbox-disabled .mat-checkbox-layout .mat-radio-label-content {
  color: #626b82;
}
body .mat-input-container .mat-form-field-infix {
  width: 120px;
}
body .mat-input-container input.mat-input-element {
  color: #134373;
}
body .mat-input-container input.mat-input-element .mat-form-field-placeholder {
  color: #9ea8c1;
}
body .mat-input-container .mat-form-field-underline {
  background-color: rgba(158, 168, 193, 0.42);
}
body .mat-input-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: #134373;
}
body .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #134373;
}
body .mat-form-field.mat-focused.mat-primary .mat-form-field-placeholder {
  color: #134373;
}
body .quick-links-block {
  width: 25%;
  float: left;
}
@media (max-width: 767px) {
  body .quick-links-block {
    width: 100%;
    margin-top: 2%;
  }
}
body .quick-links-block .mat-expansion-panel-body {
  height: 175px;
  overflow-x: auto;
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item {
  height: auto;
  padding: 8px 0;
  border-bottom: 1px solid rgba(158, 168, 193, 0.5);
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item .mat-list-item-content {
  padding: 0;
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item .mat-list-item-content a {
  text-decoration: none;
  color: #226d9a;
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item .mat-list-item-content a:hover {
  color: #134373;
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item .mat-list-item-content a i {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}
body .quick-links-block .mat-expansion-panel-body .mat-nav-list .mat-list-item .mat-list-item-content a span {
  display: table-cell;
  vertical-align: middle;
}
body .quick-links-block .mat-action-row {
  padding: 5px 8px;
}
body .quick-links-block .mat-action-row .mat-icon {
  color: #226d9a !important;
}
body .mat-paginator mat-select .mat-select-value {
  color: #ffffff;
}
body .mat-paginator mat-select .mat-select-arrow {
  color: #ffffff;
}
body .mat-paginator .mat-paginator-decrement {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
body .quick-locate {
  width: 21%;
  float: left;
  margin-right: 2%;
}
body .quick-locate .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: #226d9a;
}
body .quick-locate .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #226d9a;
}
body .quick-locate .mat-radio-button.mat-accent .mat-radio-label-content {
  color: #226d9a;
  font-weight: 500;
  font-family: RobotoRegular;
}
body .quick-locate .mat-action-row {
  padding: 16px 0px 0px 0px;
}
body .mat-accent .mat-slider-thumb, body .mat-accent .mat-slider-track-fill {
  background-color: #134373;
}
body .vehicle-define-detail .mat-selection-list .mat-list-text {
  font-size: 14px;
  color: #333333;
}
body .vehicle-define-detail .mat-selection-list .mat-list-item-content {
  flex-direction: inherit;
}
body .vehicle-define-detail li .mat-checkbox-label, body .vehicle-define-detail li .additional-criteria mat-radio-button .mat-radio-label-content, body .additional-criteria mat-radio-button .vehicle-define-detail li .mat-radio-label-content {
  font-size: 14px;
  color: #333333;
  white-space: normal;
}
body .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #134373;
}
body .select-option-tab {
  width: 48%;
  float: right;
  margin-top: 2%;
}
@media (min-width: 768px) and (max-width: 979px) {
  body .select-option-tab {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body .select-option-tab {
    width: 100%;
  }
}
body .select-option-tab .mat-expansion-panel-body {
  margin-top: 20px;
}
body .select-option-tab .mat-expansion-panel-body .example-container {
  box-shadow: none;
}
body .select-option-tab .mat-expansion-panel-body .example-container .mat-tab-body-wrapper {
  min-height: 200px;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-header {
  margin-bottom: 15px;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-label {
  text-transform: capitalize;
  color: #134373;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-label.mat-tab-label-active {
  background-color: rgba(19, 67, 115, 0.1);
  opacity: 1;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-ink-bar {
  background-color: #134373;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content li {
  padding: 10px 0;
  color: #333333;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content li .mat-checkbox-checked.dont-want-icon .mat-checkbox-background {
  background-color: #ff0808;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content li .mat-checkbox-checked.dont-want-icon .mat-checkbox-background:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  background: #ffffff url("/assets/images/close-icon.png") no-repeat center center;
  background-size: 12px;
  z-index: 9;
  border-radius: 2px;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content li .mat-checkbox-checked.want-icon .mat-checkbox-background {
  background-color: #088408;
}
body .select-option-tab .mat-expansion-panel-body .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content li .mat-checkbox-checked.want-icon .mat-checkbox-background:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  background: #ffffff url("/assets/images/check-icon.png") no-repeat center center;
  z-index: 9;
  border-radius: 2px;
}
body .select-option-tab .mat-expansion-panel-body .select-want-btn .mat-action-row {
  padding: 16px 0;
}
body .select-option-tab .mat-expansion-panel-body .select-want-btn .mat-action-row .want-dont-btn {
  float: left;
  width: 100%;
}
body .select-option-tab .mat-expansion-panel-body .select-want-btn .mat-action-row .want-dont-btn button {
  width: auto;
}
body .additional-criteria {
  float: left;
  width: 100%;
  margin-top: 2%;
}
body .additional-criteria mat-checkbox .mat-checkbox-label, body .additional-criteria mat-checkbox mat-radio-button .mat-radio-label-content, body .additional-criteria mat-radio-button mat-checkbox .mat-radio-label-content {
  color: #333333;
}
body .state-list-max {
  margin-bottom: 20px;
  margin-top: 20px;
}
body .state-list-max .ui-picklist .ui-picklist-listwrapper .ui-picklist-caption {
  color: #ffffff;
  background: #9ea8c1;
  font-size: 14px;
  padding: 12px;
}
body .state-list-max .ui-picklist .ui-picklist-listwrapper .ui-widget-content .ui-picklist-item {
  padding: 10px;
  border-bottom: 1px solid #e5eaf7;
  margin: 0;
  color: #9ea8c1;
}
body .state-list-max .ui-picklist .ui-picklist-buttons .ui-picklist-buttons-cell button {
  background: #9ea8c1;
  border-color: #9ea8c1;
}
body .state-list-max .ui-picklist .ui-picklist-buttons .ui-picklist-buttons-cell button[icon="fa-angle-right"] .ui-button-text {
  background: url("/assets/images/angle-right.png") no-repeat center center;
}
body .state-list-max .ui-picklist .ui-picklist-buttons .ui-picklist-buttons-cell button[icon="fa-angle-double-right"] .ui-button-text {
  background: url("/assets/images/angle-double-right.png") no-repeat center center;
}
body .state-list-max .ui-picklist .ui-picklist-buttons .ui-picklist-buttons-cell button[icon="fa-angle-left"] .ui-button-text {
  background: url("/assets/images/angle-left.png") no-repeat center center;
}
body .state-list-max .ui-picklist .ui-picklist-buttons .ui-picklist-buttons-cell button[icon="fa-angle-double-left"] .ui-button-text {
  background: url("/assets/images/angle-double-left.png") no-repeat center center;
}
body .cdk-overlay-pane .mat-dialog-container {
  max-height: 100vh;
}
body .table-scrolling {
  /*overflow: auto;*/
  background: #ffffff;
}
body .search-location-results .mat-paginator .mat-paginator-decrement {
  border-top: 2px solid #134373;
  border-right: 2px solid #134373;
}
body .vin-detail-payment .quick-links-block .quick-block .mat-form-field {
  width: 100%;
}
body .vin-detail-payment .quick-links-block .quick-block .mat-list-item {
  height: auto;
  padding: 8px 0;
  border-bottom: 1px solid rgba(158, 168, 193, 0.5);
}
body .vin-detail-payment .quick-links-block .quick-block .mat-list-item .mat-list-item-content a {
  text-decoration: none;
  color: #226d9a;
}
body .vin-detail-payment .quick-links-block .quick-block .mat-list-item .mat-list-item-content a i {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}
body .vin-detail-payment .quick-links-block .quick-block .mat-list-item .mat-list-item-content a span {
  display: table-cell;
  vertical-align: middle;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail {
  float: left;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel {
  float: left;
  width: 100%;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item {
  width: 49%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item.sub-title {
  width: 96%;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item.sub-title .mat-list-item-content {
  color: #ffffff;
  font-size: 18px;
  font-family: RobotoRegular;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item .mat-list-item-content {
  color: #333333;
  font-size: 14px;
  font-family: RobotoRegular;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item .mat-list-item-content strong {
  font-size: 14px;
  color: #134373;
  font-family: RobotoRegular;
  margin-right: 10px;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body .mat-list-item .mat-list-item-content span {
  color: #333333;
  font-size: 14px;
  font-family: RobotoRegular;
}
body .vin-detail-payment .vin-specifications .vin-specifi-detail .mat-expansion-panel .mat-expansion-panel-body table td strong {
  font-size: 14px;
  color: #134373;
  font-family: RobotoRegular;
  margin-right: 10px;
}
body .vin-detail-payment .vin-specifications .vin-vehicle-options .mat-expansion-panel-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-label {
  text-transform: capitalize;
  color: #134373;
}
body .vin-detail-payment .vin-specifications .vin-vehicle-options .mat-expansion-panel-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-label.mat-tab-label-active {
  background-color: rgba(19, 67, 115, 0.1);
  opacity: 1;
}
body .vin-detail-payment .vin-specifications .vin-vehicle-options .mat-expansion-panel-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-ink-bar {
  background-color: #134373;
}
body .vin-detail-payment .vin-specifications .vin-incomplete .mat-expansion-panel-content .mat-table {
  margin-top: 10px;
  width: 800px;
}
body .vin-detail-payment .vin-specifications .vin-incomplete .mat-expansion-panel-content .mat-table .mat-header-row {
  background: #9ea8c1;
}
body .vin-detail-payment .vin-specifications .vin-incomplete .mat-expansion-panel-content .mat-table .mat-header-row .mat-header-cell {
  color: #ffffff;
}
body .vin-display-footer .vin-display-info .mat-checkbox-layout .mat-checkbox-label, body .vin-display-footer .vin-display-info .mat-checkbox-layout .additional-criteria mat-radio-button .mat-radio-label-content, body .additional-criteria mat-radio-button .vin-display-footer .vin-display-info .mat-checkbox-layout .mat-radio-label-content {
  color: #134373;
}
body .vin-display-footer .vin-display-info .mat-form-field {
  width: 100%;
}
body .dealer-owning-table {
  /*overflow: auto;*/
}
body .dealer-owning-table .mat-table {
  width: 1080px;
}
body .dealer-owning-table .mat-table .mat-header-row {
  background: #9ea8c1;
  padding: 0;
  display: table;
  width: 100%;
}
body .dealer-owning-table .mat-table .mat-header-row .mat-header-cell {
  color: #ffffff;
  font-family: RobotoRegular;
  font-size: 14px;
  padding: 8px;
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
body .dealer-owning-table .mat-table .mat-row {
  padding: 0;
  min-height: auto;
}
body .dealer-owning-table .mat-table .mat-row .mat-cell {
  color: #333333;
  font-family: RobotoRegular;
  font-size: 14px;
  padding: 8px;
  word-break: break-word;
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}

.report-detail .report-detail-top {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.report-detail .report-detail-top .report-detail-type {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}
.report-detail .report-detail-top .report-detail-type .mat-form-field {
  width: 100%;
}
.report-detail .report-detail-top .report-detail-type:last-child {
  padding-right: 0;
}
.report-detail .report-detail-summary {
  /* Dealer Report  */
}
.report-detail .report-detail-summary .report-detail-dealer {
  margin-top: 10px;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-input {
  display: inline-block;
  width: 31%;
  padding-right: 2%;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-input .mat-form-field {
  width: 100%;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-input:last-child {
  width: 32%;
  padding-right: 0;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-input.print {
  display: none;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-table table {
  width: 100%;
  border-spacing: 0;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-table table thead th {
  background: #9ea8c1;
  color: #ffffff;
  font-size: 16px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-table table thead th:last-child {
  border-right: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-table table td {
  color: #134373;
  font-size: 16px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .report-detail-dealer .detail-dealer-table table td:last-child {
  border-right: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .report-detail-summary .detail-summary-table {
  padding-top: 10px;
}
.report-detail .report-detail-summary .report-detail-summary .detail-summary-table table {
  width: 100%;
}
.report-detail .report-detail-summary .report-detail-summary .detail-summary-table table td {
  color: #333333;
  font-family: RobotoRegular;
  font-size: 14px;
  vertical-align: top;
  padding-bottom: 5px;
}
.report-detail .report-detail-summary .report-detail-summary .detail-summary-table table td span {
  color: #134373;
}
.report-detail .report-detail-summary .report-detail-summary .detail-summary-table table td p {
  margin-top: 0;
}
.report-detail .report-detail-summary .vin-disclaimer-wrp span {
  font-size:
 16px;
  color: #134373;
  font-family: RobotoRegular;
}
.report-detail .report-detail-summary .vin-disclaimer-wrp .vin-disclaimer-text {
  padding: 10px;
  background: #9ea8c1;
}
.report-detail .report-detail-summary .vin-disclaimer-wrp .vin-disclaimer-text p {
  color: #ffffff;
  font-size: 14px;
  font-family: RobotoRegular;
  margin: 0 auto;
}
.report-detail .report-detail-summary .dealer-report {
  margin-top: 10px;
}
.report-detail .report-detail-summary .dealer-report .detail-summary-table table {
  width: 100%;
}
.report-detail .report-detail-summary .dealer-report .detail-summary-table table td {
  color: #333333;
  font-family: RobotoRegular;
  font-size: 14px;
  vertical-align: top;
  padding-bottom: 5px;
}
.report-detail .report-detail-summary .dealer-report .detail-summary-table table td span {
  color: #134373;
}
.report-detail .report-detail-summary .dealer-vin-order {
  margin-top: 10px;
}
.report-detail .report-detail-summary .dealer-vin-order table {
  width: 100%;
  border-spacing: 0;
}
.report-detail .report-detail-summary .dealer-vin-order table thead th {
  background: #9ea8c1;
  color: #ffffff;
  font-size: 16px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .dealer-vin-order table thead th:last-child {
  border-right: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .dealer-vin-order table tbody td {
  color: #333333;
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .dealer-vin-order table tbody td:last-child {
  border-right: 1px solid #7c8aab;
}
.report-detail .report-detail-summary .summary-report .sub-title-border {
  width: 100%;
  display: block;
}
.report-detail .report-detail-summary .summary-report .dealer-options {
  display: table;
  width: 100%;
  margin: 10px auto;
}
.report-detail .report-detail-summary .summary-report .dealer-options .dealer-options-left {
  display: table-cell;
  color: #134373;
  font-size: 16px;
  font-family: RobotoRegular;
  padding-right: 8px;
}
.report-detail .report-detail-summary .summary-report .dealer-options .dealer-options-right {
  display: table-cell;
}
.report-detail .report-detail-summary .summary-report .dealer-options .dealer-options-right span {
  color: #9ea8c1;
  font-size: 14px;
  font-family: RobotoRegular;
}
.report-detail .report-detail-summary .summary-dealer-info {
  font-size: 14px;
  color: #134373;
  font-family: RobotoRegular;
  margin: 10px auto;
}
.report-detail .report-detail-summary .cu-btn {
  text-align: right;
}

.dealer-owning-table {
  margin-top: 10px;
}
.dealer-owning-table table {
  width: 100%;
  border-spacing: 0;
}
.dealer-owning-table table thead th {
  background: #9ea8c1;
  color: #ffffff;
  font-size: 16px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.dealer-owning-table table thead th:last-child {
  border-right: 1px solid #7c8aab;
}
.dealer-owning-table table tbody td {
  color: #333333;
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.dealer-owning-table table tbody td:last-child {
  border-right: 1px solid #7c8aab;
}

.dealer-owning-table {
  margin-top: 10px;
}
.dealer-owning-table table {
  width: 100%;
  border-spacing: 0;
}
.dealer-owning-table table thead th {
  background: #9ea8c1;
  color: #ffffff;
  font-size: 16px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.dealer-owning-table table thead th:last-child {
  border-right: 1px solid #7c8aab;
}
.dealer-owning-table table tbody td {
  color: #333333;
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: normal;
  padding: 8px;
  border-left: 1px solid #7c8aab;
  border-bottom: 1px solid #7c8aab;
}
.dealer-owning-table table tbody td:last-child {
  border-right: 1px solid #7c8aab;
}

.trading-partner .trading-partner-table .mat-table .mat-header-row {
  background: #9ea8c1;
}
.trading-partner .trading-partner-table .mat-table .mat-header-row .mat-header-cell {
  color: #ffffff;
  font-size: 14px;
  font-family: RobotoRegular;
  overflow: visible;
}
.trading-partner .trading-partner-table .mat-table .mat-row .mat-cell {
  overflow: visible;
  font-size: 14px;
  font-family: RobotoRegular;
  color: #333333;
}
.trading-partner .trading-partner-table .mat-paginator {
  background: #9ea8c1;
  display: block;
}
.trading-partner .cu-btn .primary-btn button {
  margin-left: 5px;
}


.side-comparision .side-comparision-table {
  margin-top: 10px;
}
.side-comparision .side-comparision-table table {
  width: 100%;
  border-spacing: 0;
}
.side-comparision .side-comparision-table table thead {
  background: #9ea8c1;
}
.side-comparision .side-comparision-table table thead th {
  color: #ffffff;
  font-family: RobotoRegular;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  border-left: 1px solid #8992a7;
  border-bottom: 1px solid #8992a7;
  width: 33.33%;
}
.side-comparision .side-comparision-table table thead th:last-child {
  border-right: 1px solid #8992a7;
}
.side-comparision .side-comparision-table table tbody td {
  color: #333333;
  font-family: RobotoRegular;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  border-left: 1px solid #8992a7;
  border-bottom: 1px solid #8992a7;
}
.side-comparision .side-comparision-table table tbody td:last-child {
  border-right: 1px solid #8992a7;
}
.side-comparision .side-comparision-table table tbody td span {
  color: #134373;
  font-family: RobotoMedium;
  padding: 7px 0;
}
.side-comparision .side-comparision-table table tbody td a {
  color: #134373;
}
.side-comparision .side-comparision-options {
  margin: 10px 0;
}
.side-comparision .side-comparision-options table {
  width: 100%;
  border-spacing: 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #8992a7;
}
.side-comparision .side-comparision-options table tr:hover {
  background: #e5eaf7;
}
.side-comparision .side-comparision-options table tr td {
  width: 33.33%;
  color: #333333;
  font-family: RobotoRegular;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  border-bottom: 1px solid #8992a7;
}
.side-comparision .side-comparision-options table tr td i {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.side-comparision .side-comparision-options table tr td i.close-icon-check {
  color: #60b524;
}
.side-comparision .btn {
  float: left;
  margin-right: 10px;
}
