@font-face {
  font-family: 'RobotoRegular';
  src: url('/assets/fonts/RobotoRegular/RobotoRegular.eot');
  src: url('/assets/fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
  url('/assets/fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
  url('/assets/fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
  url('/assets/fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
  url('/assets/fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('/assets/fonts/RobotoLight/RobotoLight.eot');
  src: url('/assets/fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype'),
  url('/assets/fonts/RobotoLight/RobotoLight.woff2') format('woff2'),
  url('/assets/fonts/RobotoLight/RobotoLight.woff') format('woff'),
  url('/assets/fonts/RobotoLight/RobotoLight.ttf') format('truetype'),
  url('/assets/fonts/RobotoLight/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('/assets/fonts/RobotoMedium/RobotoMedium.eot');
  src: url('/assets/fonts/RobotoMedium/RobotoMedium.eot') format('embedded-opentype'),
  url('/assets/fonts/RobotoMedium/RobotoMedium.woff2') format('woff2'),
  url('/assets/fonts/RobotoMedium/RobotoMedium.woff') format('woff'),
  url('/assets/fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'),
  url('/assets/fonts/RobotoMedium/RobotoMedium.svg#RobotoMedium') format('svg');
}
$font-roboto-regular: RobotoRegular;
$font-roboto-light: RobotoLight;
$font-roboto-medium: RobotoMedium;
$font-sm: 14px;
$font-xs: 12px;

/* Background color */
$dodgerblue: #9ea8c1;
$lightsteelblue: #e5eaf7;
$deepskyblue: #cbd1e8;
$white: #ffffff;
$dimgray: #333333;
$darkblue: #134373;
$blue-2: #226d9a;
$footerbg: #1a6699;
$margin-16: 16px;
$error-red: #f44336;
