<general-motor-info-navbar (printClicked)="printReport($event)" [showHelp]="true" [showPrint]="false"></general-motor-info-navbar>

<div class="trading-partner">
  <div *ngIf="selectDataError">
    Please select a Dealer you wish to remove from your Trading Partners
  </div>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="heading-dropdown-title">
      <mat-panel-title> View My Trading Partners</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="trading-partner-table">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Select Checkbox Column -->
        <ng-container matColumnDef="selected">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [disabled]="!dataSource.filteredData.length"
                          [checked]="isMasterToggleChecked()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- BAC Column -->
        <ng-container matColumnDef="vendorId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> BAC </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.vendorId }}</mat-cell>
        </ng-container>

        <!-- Dealer Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Dealer Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
        </ng-container>

        <!-- Dealer Code Column -->
        <ng-container matColumnDef="vendorCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Dealer Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.vendorCode }}</mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="addresses">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.addresses }}</mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.phone }}</mat-cell>
        </ng-container>

        <!-- Fax Column -->
        <ng-container matColumnDef="fax">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fax </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.fax }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [length]="data.length"
                     [pageSize]="20">
      </mat-paginator>
    </div>

  </mat-expansion-panel>
  <div class="cu-btn">
    <div class="primary-btn">
        <button mat-raised-button color="primary" (click)="removeBAC()">Remove</button>
        <button mat-raised-button color="primary" (click)="openSearchBAC()">Search & Add</button>
    </div>
  </div>
</div>
